.devise-form {

  .registration-title-container {

    height: 64px;

    .icon-title {
      display: inline-block;
    }

    .title {
      display: inline-block;
      margin-top: 16px;
      vertical-align: 9px;
    }

  }

  .icon-increase-font-size { font-size: 49px; }
}
