input:focus:not([readonly]){
  border-bottom: 1px solid $main-color-1 !important;
  box-shadow: 0 1px 0 0 $main-color-1 !important;
}

input[type=submit] {
  background: none;
  border: none;
}

.invalid {
  @extend .red-text !optional;
}

#error_explanation {
  text-align: center;

  h2 { display: none }

  ul {

    text-align: left;

    li {
      background-image: image-url('icons/icon-warning.png');
      background-position: left 0 top 2px;
      background-repeat: no-repeat;
      -webkit-background-size: 13px 13px;
      background-size: 19px 19px;
      line-height: 1.5;
      list-style: none;
      padding-left: 35px;
      margin-bottom: 4px;

      // used from materialize
      @extend .red-text !optional;
      padding-top: 3px;
    }
  }
}
