.notification-message {
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
}

.duplicate-margin-top {
  margin-top: 128px !important;
}

.flash-notice {
  border-left: 5px solid $main-color-1 !important;
}
