//colors
$color_tundora_approx: #444;
//light-blue darken-4 light-blue-text text-darken-4
$main-color-1: #30567E;
$white_90: rgba(255,255,255,.9);
//Palette
$chambray: #30567E;
$ming: #3F6E86;
$glacier: #6FAFBF;
$powder-blue: #BDDFEB;
$gray: #7F7F7F;
